<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>RetroCollection needs to access photos of your collection</string>
	<key>NSCameraUsageDescription</key>
	<string>RetroCollection needs to be able to have you take pictures of your collection</string>
</dict>
</plist>
